
<div class="col-8 my-0 mx-auto pt-5">

    <div class="text-center py-3">
        <button class="btn btn-primary" type="button" (click)="redirectTo()">
            Back to List
        </button>
    </div>

    <form [formGroup]="jobForm">
        <div class="mb-3" class="form-label">
            <label>Email: </label>
            <input formControlName="email" class="form-control" />
        </div>

        <div class="mb-3" class="form-label">
            <label>Title: </label>
            <input formControlName="title" class="form-control" />
        </div>

        <div class="mb-3" class="form-label">
            <label>Description: </label>
            <textarea formControlName="description" class="form-control"></textarea>
        </div>
        <button type="submit" (click)="submit()" class="btn btn-primary">Post Job</button>
    </form>
</div>
